.results-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.results-form .results-form__item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    color: black;
    font-size: 55px;
    font-family: "SuperGame";
}

.results-form .results-form__item .results-form__item__checkbox {
    width: 28px;
    height: 28px;
    margin-left: 35px;
}

.results-form input[type="submit"] {
    display: block;
    margin: auto auto;
    padding: 10px 0;
    width: 130px;
    background-color: #7C531E;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    font-family: "SuperGame";
}


/* portrait orientation */
@media screen and (max-width: 600px) {
    .results-form  .results-form__item{
        font-size:35px;
    }

}
