.rating {
    display: flex;
    justify-content: center;
    border: 4px solid silver;
    border-radius: 15px;
    padding: 20px 20px 20px;
    width: 45%;
    max-width: 1093px;
    margin: 0 auto;
}

.rating__list-item {
    font-size: 40px;
    margin-bottom: 40px;
    font-family: "SuperGame";
    color: black;
}

.description {
    margin-top: 2.5rem;
    font-family: "SuperGame";
    font-size: 40px;
    color: black;
}

.description .description__team {
    font-family: "SuperGame";
}

.winners{
    font-family: "SuperGame";
    color: red;
    font-size: 60px;
}

.rating__list-item:last-child {
    margin-bottom: 0;
}

.start {
    display: block;
    margin: auto auto;
    text-align: center;
    padding: 10px 0;
    width: 140px;
    background-color: #7C531E;
    color: white;
    font-size: 25px;
    font-family: "SuperGame";
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .rating {
        width: 75%;
    }

    .rating__list-item {
        font-size: 30px;
    }

    .desctiption {
        font-size: 30px;
        margin-bottom: 50px;
    }
}