.main {
    display: block;
    text-align: center;
}

.add-team_btn {
    width: 270px;
    height: 80px;
    background: gold;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 36px;
    color: black;
    margin-bottom: 45px;
    font-family: "SuperGame";
}

.add-team_btn:hover {
    cursor: pointer;
}


.teams-field__item:before,
.teams-field__item:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}

.teams-field__item:before {
    left: -41px;
    top: -1px;
    border-width: 41px 41px 41px 0;
    border-color: transparent #7C531E transparent transparent;
}

.teams-field__item:after {
    right: -41px;
    top: -1px;
    border-width: 41px 0 41px 41px;
    border-color: transparent transparent transparent #7C531E;
}

.teams-field__item {
    position: relative;
    display: inline-block;
    margin: 50px;
    padding: 20px;
    background: #7C531E;
    color: white;
    text-decoration: none;
    height: 80px;
    width: 250px;
    font-size: 26px;
    text-align: center;
    font-family: "SuperGame";
}

.teams-field__item-btn {
    position: absolute;
    margin-left: 35px;
    top: 15px;
}

.teams-field__item-btn img {
    width: 40px;
}


/* portrait orientation */
@media screen and (max-width: 600px) {
    .teams {
        flex-direction: column;
        align-items: center;
    }

    .teams-field__item {
        max-width: 340px;
        display: flex;
        justify-content: center;
    }

    .teams-field__item-btn img {
        width: 40px;
        margin-left: 150px;
    }

    .teams__left {
        margin-right: 0px;
    }
}

/* landscape orientation */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .teams {
        justify-content: space-around;
        align-items: center;
    }

    .teams__left {
        margin-right: 0px;
    }

}

  