@font-face {
    font-family: "SuperGame";
    src: url("./fonts/Arabian Knight-Bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    overflow: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 25px;
    line-height: 35px;
    min-height: 100vh;
}

header h1 {
    font-size: 65px;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

button {
    border: none;
    outline: none;
    background: none;
}

header {
    display: flex;
    justify-content: center;
    background-color: #EBE597;
    font-size: 48px;
    font-family: "SuperGame";
    color: white;
}

.left-arrow {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 40px;
    left: 40px;
}

.right-arrow {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 40px;
    right: 40px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #EBE597 18.65%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
}

footer {
    flex: 0 0 auto;
    padding: 20px;
    font-family: "SuperGame";
    font-size: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content .footer-content__socials {
    display: flex;
}

.footer-content .footer-content__socials a:first-of-type {
    margin-right: 15px;
}

.footer-content .footer-content__socials img {
    width: 55px;
    height: 55px;
}


/* portrait orientation */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 40px;
        text-align: center;
    }

    .left-arrow {
        width: 30px;
        height: 30px;
        top: 30px;
        left: 15px;
    }

    .right-arrow {
        width: 30px;
        height: 30px;
        top: 30px;
        right: 15px;
    }

}

/* landscape orientation */
@media screen and (min-width: 601px) and (max-width: 900px) {
    header h1{
        font-size: 50px;
    }

    .left-arrow {
        width: 40px;
        height: 40px;
        top: 30px;
        left: 15px;
    }

    .right-arrow {
        width: 40px;
        height: 40px;
        top: 30px;
        right: 15px;
    }
}
