@font-face {
    font-family: "SuperGame";
    src: url("./fonts/Arabian Knight-Bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Josefin";
    src: url("./fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Molle";
    src: url("./fonts/Molle-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Timmana";
    src: url("./fonts/Timmana-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Ledger";
    src: url("./fonts/Ledger-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    overflow: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 25px;
    line-height: 35px;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: none;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

button {
    border: none;
    outline: none;
    background: none;
}

header {
    display: flex;
    justify-content: center;
    background-color: #EBE597;
    font-size: 48px;
    font-family: "SuperGame";
    color: white;
}

.left-arrow {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 40px;
    left: 40px;
}

.right-arrow {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 40px;
    right: 40px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #EBE597 18.65%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
}

footer {
    flex: 0 0 auto;
    padding: 20px;
    font-family: "SuperGame";
    font-size: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content .footer-content__socials {
    display: flex;
}

.footer-content .footer-content__socials a:first-of-type {
    margin-right: 15px;
}

.footer-content .footer-content__socials img {
    width: 55px;
    height: 55px;
}

@media screen and (max-width: 800px) {
    header {
        font-size: 32px;
    }
}

@media screen and (max-width: 550px) {
    .left-arrow {
        width: 50px;
        height: 50px;
        top: 30px;
        left: 15px;
    }

    .right-arrow {
        width: 50px;
        height: 50px;
        top: 30px;
        right: 15px;
    }

    header {
        font-size: 20px;
    }
}